h1,
h2 {
  color: #7293E0;
}

main {
  width: 90vw;
  text-align: center;
  justify-content: center;
 margin-left: 5vw;
}

/*Le damos estilo a la lista*/
main ul,
main li {
  list-style: disc;
  padding-left: 1rem;
}

form {
  display: flex;
  text-align: center;
  flex-direction: column;
}

form input {
  width: 55vw;
  margin-left: 18vw;
  height: 5vh;
  margin-bottom: 3%;
}
form label{
  margin-top: 1rem;
  margin-bottom: 2%;
}
form a{
  color: lightblue;
}
form a:hover{
  color: darkcyan;
}

main form button {
  background-color: #7293E0;
  color: #fafafafa;
  padding: 0.75rem;
  width: 5rem;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 15%;
  box-shadow: none;
  margin-left:37vw;
}

@media all and (min-width: 600px) {
  form input {
    margin-left: 20vw;
    width: 50vw;
  }
  form label{
    margin-bottom: 1%;
  }
  main form button{
    margin-left: 40vw;
    margin-top: 0%;
  }
  input{
    margin-bottom: 2%;
  }
}
@media all and (min-width: 900px) {
  form input {
    margin-left: 30vw;
    width: 30vw;
  }
  main form button{
    margin-left: 41vw;
  }
}
@media all and (min-width: 1000px) {
  form input {
    margin-left: 32.5vw;
    width: 25vw;
  }
  main form button{
    margin-left: 42.5vw;
  }
}