h1 {
  color: #e28788;
  text-align: center;
}
/*Todas las noticias*/
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
}
section article {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  
}

section article picture > img {
  width: 15rem;
  margin-right: 1rem;
  height: auto;
}
section article div.iconos-noticia {
  width: 5rem;
  text-align: start;
}
section article div.iconos-noticia img {
  width: 1.4rem;
  margin-right: 0.5rem;
}
@media all and (min-width: 600px) {
  section {
    text-align: center;
  }

  section article picture > img {
    width: 17rem;
    margin-left: 2rem;
    height: auto;
  }
  section article div.iconos-noticia {
    width: 10rem;
  }
  section article div.iconos-noticia img {
    width: 1.4rem;
  }
}
@media all and (min-width: 1000px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    
  }
  section > article {
    flex-direction: column;
    width: 25%;
  }
  section article div.iconos-noticia {
    width: 20rem;
    padding-left: 3rem;
  }
  section article div.iconos-noticia img {
    width: 1.4rem;
  }
}
/*Slider*/

/*Número de pestañas*/
ul#cambio-pagina{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul#cambio-pagina li{
 font-size: 20px;
 margin-left: 0.23rem;
 color: #e28788;
 padding: 1rem;
}
/*Para marcar la página en la que se está*/
#cambio-pagina > li:nth-child(1){
  font-weight: bold;
}

