h1 {
  color: #e28788;
  text-align: center;
}
/*Todas las noticias*/
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
}
section article {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  
}

section article picture > img {
  width: 15rem;
  margin-right: 1rem;
  height: auto;
}
section article div.iconos-noticia {
  width: 5rem;
  text-align: start;
}
section article div.iconos-noticia img {
  width: 1.4rem;
  margin-right: 0.5rem;
}
@media all and (min-width: 600px) {
  section {
    text-align: center;
  }

  section article picture > img {
    width: 17rem;
    margin-left: 2rem;
    height: auto;
  }
  section article div.iconos-noticia {
    width: 10rem;
  }
  section article div.iconos-noticia img {
    width: 1.4rem;
  }
}
@media all and (min-width: 1000px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    
  }
  section > article {
    flex-direction: column;
    width: 25%;
  }
  section article div.iconos-noticia {
    width: 20rem;
    padding-left: 3rem;
  }
  section article div.iconos-noticia img {
    width: 1.4rem;
  }
}
/*Slider*/

.slideshow{
	width: 100%;
	position: relative;
}

.slider li, ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
	width: 100%;
}

.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider .caption h1{
	font-size: 50px;
}

.slider .caption p{
	margin-top: 10px;
	font-size: 20px;
}

.pagination{
	position: absolute;
	top: 102%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}


@media screen and (max-width: 600px){
	.slider .caption p{
		display: none;
	}

	.slider .caption h1{
		font-size: 35px;
	}

	.left, .right{
		font-size: 30px;
	}

	.slider li img{
		width: 600px;
	}

	.pagination{
		display: none;
	}
}
/*Número de pestañas*/
ul#cambio-pagina{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul#cambio-pagina li{
 font-size: 20px;
 margin-left: 0.23rem;
 color: #e28788;
 padding: 1rem;
}
/*Para marcar la página en la que se está*/
#cambio-pagina > li:nth-child(1){
  font-weight: bold;
}

