
/*Cuerpo*/
/*Texto centrado*/
h2, h3{
    text-align: center;
}
main p, main h3, h2 {
  margin-left: 3rem;
  margin-right: 3rem;
}
/*Imagen panorámica*/
main #noticia picture > img {
  width: 100%;
}
/*Parte de noticias que pueden interesar*/
#publi > li:nth-child(2) > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*Cada noticia que puede interesar por separado*/
main #publi>li>ul>li {
  display: flex;
  flex-direction: column;
  width: 8rem;
  font-weight: bold;
}
/*Imagenes de las noticias*/
main #publi>li>ul>li img {
  width: 8rem;
}
@media all and (min-width: 600px) {
  main #publi>li>ul>li {
    width:10rem;
    font-weight: bold;
  }
  main #publi>li>ul>li img {
    width: 11rem;
  }
  main p{
    width: 80%;
    padding-left: 20%;
  }
  h1, h2{
    padding-left: 10%;
  }
}
@media all and (min-width: 1000px) {
  main #publi>li>ul>li {
    width: 20rem;
    font-weight: bold;
  }
  main #publi>li>ul>li img {
    width: 20rem;
  }
  main p{
    width: 80%;
    padding-left: 20%;
  }
  
}

