h1,
h2 {
    color: #7293E0;
    text-align: center;
}

main {
    width: 90vw;
    padding-left: 5vw;
    padding-bottom: 5rem;
}

/*Le damos estilo a la lista*/
main ul,
main li {
    list-style: disc;
    padding-left: 1rem;
}