* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  /*fuente*/
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*Cabecera*/
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-around;*/
  align-items: center;
}

/*Logo*/
header img#logo {
  width: 8rem;
  height: auto;
  margin-right: auto;
}

/*Iconos*/
header img.icono {
  width: 2.5rem;
  height: auto;
  padding-right: 0.6rem;
}

header a > span {
  display: none;
}

/*Menú*/
header div.menu {
  padding-right: 1.5rem;
  margin-left: 1rem;
}

header .menu a {
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

header .menu .hamburger-lines {
  height: 22px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  height: 3px;
  width: 100%;
  border-radius: 20px;
  background-color: #0e2431;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
/*Buscador*/
header input#buscadorinput {
  background-color: #e28788;
  color: black;
  border: none;
  flex: 100%;
  padding: 0.6rem;
  margin-top: 0.5rem;
} /*Mirar lo del placeholder*/
header input#buscadorinput::placeholder {
  color: #424242;
}

nav.menu {
  position: absolute;
  left: -75vw;
  height: 100vh;
  width: 75vw;
  top: 7.3rem;
  background-color: #fafafa;
  z-index: 1000;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
/*HACER CON JQUERY ANIMACIONES Y QUE NO SE PUEDA HACER SCROLL*/
nav.menu > span {
  font-weight: bold;
  font-size: 2rem;
}
nav.menu ul {
  display: flex;
  flex-direction: column;
}
nav.menu ul > li {
  border-bottom: 1px solid orange;
}
nav.menu .item {
  font-weight: bold;
  padding-top: 1rem;
}
nav.menu li {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0 0.6rem 0;
}
nav.menu ul ul > li {
  margin-left: 1.5rem;
  border-bottom: 1px solid orange;
}
nav.menu ul ul {
  display: none;
}
/*Boton para subir la página*/
button {
  color: #e28788;
  border: 2px solid #e28788;
  position: fixed;
  bottom: 0px;
  right: 0vw;
  padding: 1rem;
}
button:hover {
  background-color: #e28788;
  color: white;
}
/*Footer*/
/*En general*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
footer,
footer a {
  background-color: black;
  color: bisque;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer li {
  margin-top: 2rem;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
footer li.linea {
  
  border-right: 1px solid #fafafa;
  text-align: center;
  align-items: center;
  width: 25%;
}

footer li.cookies {
  width: 25%;
  padding-left: 1rem;
  text-align: center;
}
/*Palabra siguenos*/
footer li#siguenos {
  justify-content: center;
  width: 100%;
}
/*Toda la parte de redes*/
footer .redes {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
/*Imagenes*/
footer img {
  width: 3rem;
}
/*Texto pequeño*/
footer small {
  width: 100%;
  padding-top: 2rem;
}

/*------------------------------------------------------------------------*/

/*Carrusel de noticias*/

/*.contenedor-slider {
  width: 640px;
  margin: 40px auto 0;
}

.slider-wrapper {
  z-index: 500;
  position: relative;
  width: 100%;
  height: 360px;
  background: #fff;
  border: 5px solid #4b5973;
  overflow: hidden;
}

.slider-wrapper li {
  display: none;
}

.slider-wrapper .current-slide {
  display: block;
}

.slider-shadow {
  width: 100%;
  height: 15px;
  position: relative;
}

.slider-shadow:after,
.slider-shadow:before {
  content: "";
  position: absolute;
  background: #171c24;
  height: 100%;
  width: 50%;
  left: 10px;
  top: -20px;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  -webkit-box-shadow: 0 0 15px 8px #171c24;
  box-shadow: 0 0 15px 8px #171c24;
}

.slider-shadow:before {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}

.slider-wrapper img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.slider-wrapper .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  padding: 10px;
  color: #fff;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.slider-wrapper li:hover .caption {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.slider-wrapper h2 {
  color: #00c5b9;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 6px;
}

.slider-wrapper p {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.4em;
}

.control-buttons {
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.control-buttons li {
  cursor: pointer;
  display: inline-block;
  background: #424f66;
  text-indent: -99999px;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.control-buttons li.active {
  background: #00c5b9;
}

.authors {
  text-align: center;
  color: #7a8699;
  display: block;
  font-size: 1.6em;
  font-weight: 300;
  margin-top: 80px;
  font-size: 300;
}

@media only screen and (max-width: 825px) {
  .contenedor-slider {
    width: 500px;
  }
  .slider-wrapper {
    height: 260px;
  }
}

@media only screen and (max-width: 535px) {
  .contenedor-slider {
    padding: 5px;
    width: 100%;
    margin: 40px 0 0 0;
  }
  .slider-wrapper {
    height: 200px;
  }
  .slider-wrapper .caption {
    display: none;
  }
}

@media onlyscreen and (max-width: 410px) {
  .slider-wrapper {
    height: 160px;
  }
}*/

/*Cuerpo de la página*/
/*article img {
  width: 393px;
  height: 133px;
}
h2 > a {
  text-decoration: none;
  color: black;
}
h5 {
  font-weight: lighter;
}
a {
  color: black;
  text-decoration: none;
}
nav {
  display: none;
}*/ /*ESTÁ DESAPARECIDO PARA PODER TRATAR LA PÁGINA*/

/*Versión ordenador*/
/*@media all and (min-width: 1060px) {*/
/*Iconos*/
/* header img {
    height: auto;
    width: 10%;
  }
  header picture > img {
    width: 10px;
    height: 10px;
  }
  header picture p {
    display: block;
  }
  header picture a > p {
    display: block;
    width: 10em;
    margin-left: -0.7em;
    margin-bottom: 4em;
  }
  header picture > p {
    width: 10em;
    margin-left: -0.7em;
    margin-bottom: 4em;
  }
  header picture > p#like {
    margin-left: -3em;
  }
  header picture {
    display: flex;
    flex-direction: column;
    width: 40px;
  }*/
