* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  /*fuente*/
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*Cabecera*/
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-around;*/
  align-items: center;
}

/*Logo*/
header img#logo {
  width: 8rem;
  height: auto;
  margin-right: auto;
}

/*Iconos*/
header img.icono {
  width: 2.5rem;
  height: auto;
  padding-right: 0.6rem;
}

header a > span {
  display: none;
}

/*Menú*/
header div.menu {
  padding-right: 1.5rem;
  margin-left: 1rem;
}

header .menu a {
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

header .menu .hamburger-lines {
  height: 22px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  height: 3px;
  width: 100%;
  border-radius: 20px;
  background-color: #0e2431;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
/*Buscador*/
header input#buscadorinput {
  background-color: #e28788;
  color: black;
  border: none;
  flex: 100%;
  padding: 0.6rem;
  margin-top: 0.5rem;
} /*Mirar lo del placeholder*/
header input#buscadorinput::placeholder {
  color: #424242;
}

nav.menu {
  position: absolute;
  left: -75vw;
  height: 100vh;
  width: 75vw;
  top: 7.3rem;
  background-color: #fafafa;
  z-index: 1000;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
nav.menu > span {
  font-weight: bold;
  font-size: 2rem;
}
nav.menu ul {
  display: flex;
  flex-direction: column;
}
nav.menu ul > li {
  border-bottom: 1px solid orange;
}
nav.menu .item {
  font-weight: bold;
  padding-top: 1rem;
}
nav.menu li {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0 0.6rem 0;
}
nav.menu ul ul > li {
  margin-left: 1.5rem;
  border-bottom: 1px solid orange;
}
nav.menu ul ul {
  display: none;
}
/*Boton para subir la página*/
body button#volverarriba {
  color: #e28788;
  border: 2px solid #e28788;
  position: fixed;
  bottom: 0px;
  right: 0vw;
  padding: 1rem;
}
body button#volverarriba:hover {
  background-color: #e28788;
  color: white;
}
/*Footer*/
/*En general*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
footer,
footer a {
  background-color: black;
  color: bisque;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer li {
  margin-top: 2rem;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
footer li.linea {
  
  border-right: 1px solid #fafafa;
  text-align: center;
  align-items: center;
  width: 25%;
}

footer li.cookies {
  width: 25%;
  padding-left: 1rem;
  text-align: center;
}
/*Palabra siguenos*/
footer li#siguenos {
  justify-content: center;
  width: 100%;
}
/*Toda la parte de redes*/
footer .redes {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
/*Imagenes*/
footer img {
  width: 3rem;
}
/*Texto pequeño*/
footer small {
  width: 100%;
  padding-top: 2rem;
}
